<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.js}" src="/static/js/bootstrap.bundle.js"></script>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container-md" th:object="${project}">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="py-4 mb-4">
        <div class="text-center my-3 fs-4">
            <a class="badge text-secondary" href="#" th:href="@{/project/category/{categoryName}(categoryName=*{category.name()})}" th:text="*{category.description}">굿즈</a>
        </div>
        <h1 class="text-center fw-bold" th:text="*{title}">조향사가 직접 만든 천연 퍼퓸 샴푸와 비누</h1>
    </div>
    <div class="row">
        <div class="col-md-7 px-5 my-auto">
            <img src="/static/image/mainImage.png" th:src="|/project/images/*{mainImage.storeFileName}|" style="width: 100%; height: auto" alt="mainImage"></div>
        <div class="col-md-5 px-5 pt-3" style="font-size: 1em">
            모인금액<br/>
            <span style="font-size: 2.5em" th:text="*{{currentSponsorship}}">10,000,000</span> 원&nbsp;&nbsp;
            <span style="font-size: 1.5em; font-weight: bold" th:text="|${achievementRate}%|">400%</span><br/><br/>
            남은시간<br/>
            <span style="font-size: 2.5em" th:text="${leftDays}">22</span> 일<br/><br/>
            후원자<br/>
            <span style="font-size: 2.5em" th:text="${#lists.size(project.memberProjects)}">364</span> 명<br/>
            <hr class="my-4">
            <div class="row">
                <div class="col-4 my-1 fw-bold">
                    목표금액
                </div>
                <div class="col-8 my-1" th:text="|*{{targetSponsorship}}원|">
                    2,500,000원
                </div>
                <div class="col-4 my-1 fw-bold">
                    펀딩 기간
                </div>
                <div class="col-8 my-1">
                    <span th:text="*{{createdTime}}">2022.11.18</span> ~ <span th:text="*{{deadline}}">2022.12.13</span>
                </div>
            </div>
            <div class="d-grid col-10 mx-auto my-3">
                <button class="btn btn-danger fw-bold" style="height: 4em" type="button" th:onclick="location.href='#option'">이 프로젝트 후원하기</button>
            </div>
        </div>
    </div>
    <hr class="my-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active text-dark fw-bold" aria-current="page" href="#">프로젝트 계획</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary fw-bold" href="#">커뮤니티</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-7 px-5 py-5">
            <p class="lh-lg" th:text="*{description}">
            당신이 꼭 필요해요! 유니콘과 비밀의 이세계 향료 여행!
            </p>
        </div>
        <div class="col-md-5 px-5 my-4" style="font-size: 1em">
            <div class="card my-4">
                <div class="card-body px-4">
                    <p class="my-3 fw-bold">창작자 소개</p>
                    <div class="my-4">
                        <img class="rounded-circle mx-1" width="40" height="40" src="/static/image/defaultUserImage.png" th:src="|/project/images/*{creator.userImage.storeFileName}|">
                        <a class="text-black mx-2 fw-bold" th:text="*{creator.username}" href="#" th:href="@{/member/{memberId}(memberId=*{creator.id})}">벨망</a>
                    </div>
                    <p class="card-text" th:text="*{creator.info}">벨망은 조향사와 디자이너가 함께하는 프로젝트 그룹입니다.</p>
                    <form th:action="@{/member/{memberId}/follow(memberId=*{creator.id})}" method="post">
                        <input type="hidden" name="redirectURI" th:value="${#request.getRequestURI()}">
                        <button class="btn btn-secondary" style="width: 100%" type="submit">+ 팔로우</button>
                    </form>
                </div>
            </div>
            <p class="fw-bold" id="option">선물 선택</p>
            <div class="card my-3" th:object="${project.rewards[0]}">
                <div class="card-body px-4">
                    <p class="my-3 fw-bold fs-3" th:text="|*{{price}}원|">9,900원</p>
                    <p class="my-3" th:text="*{description}">(얼리버드) 유니콘 비누 4종 중 택1 (배송비 포함)</p>
                    <form th:action="@{/project/{projectId}/sponsor/1(projectId=${project.id})}" method="post">
                        <div class="d-grid col-12 mx-auto my-3">
                            <button class="btn btn-danger fw-bold" style="height: 3em" type="submit">이 옵션으로 후원하기</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card my-3" th:object="${project.rewards[1]}">
                <div class="card-body px-4">
                    <p class="my-3 fw-bold fs-3" th:text="|*{{price}}원|">19,000원</p>
                    <p class="my-3" th:text="*{description}">(얼리버드) 유니콘 비누 4종 중 택2 (배송비 포함)</p>
                    <form th:action="@{/project/{projectId}/sponsor/2(projectId=${project.id})}" method="post">
                        <div class="d-grid col-12 mx-auto my-3">
                            <button class="btn btn-danger fw-bold" style="height: 3em" type="submit">이 옵션으로 후원하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>

